.containr{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    width: 23%;
    border: 1px solid silver;
    margin-top: 20px;
    height: 410px;
  }
  .dessert__top{
    display: flex;
    justify-content: space-between;
  }
  
  .dessert__bottom{
    display: flex;
    flex-direction: column;
  }
  .dessert__image img{
    width: 120px;
    margin-left: 119px;
    margin-top: 90px;
  }
  .dessert_details{
    margin-left: 20px;
  }
 .dessert_details h1,h3,p{
    margin-left: 20px;
   }
  /* .dessert__icons{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    font-size: 20px;
    color: whitesmoke;
    margin-top: 20px;
    margin-left: 270px;
  } */
  .dessert__icons li{
    list-style: none;
      padding: 3px 3px;
      cursor: pointer;
      transition: 0.5s;
      color: whitesmoke;
      color: #010f1c;
      margin-right: 10px;
  }
  .icns{
    color: white;
  }
  .containr:hover .icns{
    color: #444444;
  
  }
  .containr:hover{
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
  
  }