/* .main-pizza {
    display: flex;
 
    padding: 10px;
  }
  .pizza-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px; 
    margin: 0 auto;
  }
  
  
  .pizza-item {
    width: calc(16.% - 20px); 
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
  }
  
  .pizza-item img {
    width: 100px;
    height: auto; 
  }
  
  .item-details {
    text-align: center;
  }
   */

   /* .pizza-container {
    text-align: center;
  }
  
  .pizza-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .pizza-item {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .pizza-image {
    max-width: 200px;
    height: auto;
  } */



  .pizza-container {
    padding: 20px;
  }
  
  .pizza-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .pizza-item {
    width: 18%; /* Set the width to a percentage to ensure 5 items per row */
    margin-bottom: 20px;
  }
  
  .pizza-image {
    width: 100px;
    height: auto;
  }