.Sign{
    text-align: center;
}
input{
    width: 50%;
    padding: 5px;
    margin: 3px;
    background: #f1e1e1;
    border: 1px solid rgb(218, 211, 211);
    border-radius: 4px;
}

/* button{
    /* background-color: rgb(19, 139, 69);
    color: white;
    border: none;
    width: 30%;
    padding: 5px;
    border-radius: 2px;
    margin: 10px;
} */ */
.abc{
    border: 1px solid black;
    max-width: 500px;
    border-radius: 10px;
    height: 350px;
    margin-top: 30px;
    /* background-color: rgb(213, 216, 216); */
    background-image: url("https://media.istockphoto.com/id/529426874/photo/woman-using-tablet-at-night.jpg?s=612x612&w=0&k=20&c=GcIXI4wB1eWtvBQRMaPisCCLUhthdzw2Yam_BU5K6n8=");
        
}
p{
    color: rgb(56, 12, 250);
    font-size: 15px;
    
}
a{
    text-decoration: none;
}
