.order_container{
    margin-left: 350px;
    /* display: flex; */
}
.deails_all_data{
   
}
span{
    color: silver;
}
.items_detailsss{
    display: flex;
    /* padding: 10px; */
    margin-top: 20px;
    background-color: whitesmoke;
    width: 90%;
    padding: 19px 35px;
    /* box-shadow: 10px 10px 10px 4px rgba(147, 145, 145, 0.5); */
    border-radius: 5px;

}
.all_data{
    margin-left: 50px;
    margin-top: 20px;
    
}
/* .details_user{
    ma
} */
.aa{
    /* margin-top: 10px; */
}
.all_data{
    background-color: whitesmoke;
}

@media only screen and (max-width: 768px) {
    .order_container {
      margin-left: 0;
      padding: 0 15px; /* Add padding for smaller screens */
    }
  
    .items_detailsss {
      flex-direction: column; /* Stack items vertically on smaller screens */
      padding: 15px; /* Adjust padding for smaller screens */
    }
  
    .all_data {
      margin-left: 0;
      margin-top: 10px; /* Adjust margin for smaller screens */
    }
}
