header{
    background-image: url(assets/bann.png);
    width: 100%;
    height: 600px;
    background-size: cover;
    
}
.search{
    display: flex;
    margin-top: 20px;
    background-color: white;
    padding: 5px;
    width: 777px;
    height: 52px;
    align-items: center;
    border-radius: 10px;
}
.search i{
    margin-right: 10px;
}
.search input{
    border: none;
    width: 100%;
}
.search input:focus{
    border: 1px solid white;
    outline: none;
}
.btn{
    margin-right: 20px;
}
.btn-secondary{
    background-color: white !important;
    color: black !important;
    border: none !important;
    
}

.space{
    margin-left: 80px;
}
.dropdown-menu{
    margin-left: 20px;
}   