#main{
    background-color: black;
    width: 600px;
    padding: 10px;
}
/* #div1{
    background-color: rgb(34, 33, 32);
} */

ul{
    padding: 5px;
    background-color: rgb(24, 22, 22);
}

li{
    display: inline;
}

li a{
    color: rgb(252, 245, 245);
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    
}

li a:hover{
    background-color: black;
}

#div2{
    display: flex;
    text-align: center;
    padding: 15px;
    color: aliceblue;
    margin: 10px;
}

button{
    background-color: black;
}

body{
    background-color: black;
}

#ab{
    text-align: end;
    margin-right: 70px;
    margin-bottom: 10px;
}

#ac{
    margin-left: 20px;
}