.dashboard{
    width: 100%;
    height: 100%;
    /* display: flex; */
}

.dashboard-main{
    position: fixed;
    margin-top: 5px;
    left: 0;
    top: 0;
     height: 100%;
    width: 230px;
    background-color: rgb(253, 252, 252);
}
.dashboard-cntnts{
    margin-left: 25px;
}
.dashboard-title h4{
    color: rgb(54, 54, 248);
    font-size: 23px;
    font-family: inherit;
}
.dashbord-head p{
    color: gray;
    font-size: 14px;
}

.dashboard-link p{
    font-size: 18px;
}
.dashboard-link1 p{
    font-size: 15px;
}
/* .dashboard-link :hover{
    text-align: center;
    background-color:  rgb(245, 245, 245);
    border-radius: 5px;
    width:100%;
    height: 35px;
} */
.dash-link{
    text-decoration: none;
    margin-left: 13px;
   

}
.add-icon{
    margin-right: 12px;
}
.dash-link-add{
    text-decoration: none;
    margin-right: 10px;

}
.logout-btn{
    
}
.dashboard-links1 p{
    font-size: 18px;
    margin-left: 4px;
}
.dashboard-linkordr p{
    font-size: 18px;

}
.dashboard-linkordr .dash-link{
    margin-right: 4px;
}
.logout-btn button{
   border: none;
   outline: none;
   margin-left: 10px;
   font-size: 15px;
   background: white;

}
.logout-btn button:hover{
    color: red;
}
.dashboard-links{
    display: flex;
    /* margin-top: 30px; */
}
.dashboard-links p{
    margin-top: 2px;
    margin-left: 6px;
}
.lg-btn{
    margin-left: 5px;
}
.iconn1{

}
/* .dash-link:hover{ */
    /* background-color:  rgb(245, 245, 245);
    border-radius: 5px;
    width:100%;
    height: 35px; */
/* } */

/* .row.content {
    height: 550px
}
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
  }
  @media screen and (max-width: 767px) {
    .row.content {height: auto;} 
  } */


  .dashboard{
    display: flex;

  }

.dash-content{
    margin-top: 100px;
    margin-left: 500px;
}


  @media (max-width: 1200px) {
    .main-dash {
        margin-left: 0;
        width: 100%;
    }

    /* Add more responsive styles as needed */
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .main-dash {
        /* Modify styles for smaller screens */
    }

    .dashboard {
        /* Add or modify styles for the overall dashboard container */
    }

    .dashboard-main {
        /* Add or modify styles for the main dashboard content */
    }

    /* Add more responsive styles as needed */
}