.register{
    /* background-color: #98e5dd; */
    width: 100%;
    height: 100vh;

}
.reg-main{
    display: flex;
    justify-content: center;
    /* padding: 3px; */
   

}
.reg-main-one{
    background-color: white;
   margin-top: 150px;
   border: 6px solid rgb(243, 236, 224);
   height: 460px;
   margin-right: 40px;
   width: 350px;



}
.reg-body-cntnts{
    margin-top: 10px;
}
.reg-head{
    display: flex;
    justify-content: center;
    margin-top: 45px;
    height: auto;
   
}
.reg-head h4{
    border-bottom: 1px solid rgb(243, 236, 224);
    font-size: 24px;
    font-family: inherit;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.reg-body{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.reg-body-cntnt{
    padding: 6px;
    margin-top: 10px;
    height: 25px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid rgb(236, 234, 234);
}
.reg-icon{
   height: 12px;
}
.reg-body-cntnt input{
    border: none;
    margin-left: 3px;
    outline: none;

}
.reg-btn{
    border-radius: 5px;
    margin-top: 15px;
    height: 35px;
    width: 260px;
    border: 1px solid rgb(236, 234, 234);
    background-color: rgb(241, 55, 55);
}
.reg-btn button{
    border: none;
    background: none;
    margin-left: 70px;
    margin-top: 8px;
    color: white;
}
.reg-para{
    margin-top: 70px;
    margin-left: 4px;
}
.reg-link{
    text-decoration: none;
}


@media screen and (max-width: 768px) {
    .reg-main-one {
        max-width: 300px;
    }
    .register{
        margin-left: 0;
    }

    .reg-body-cntnt {
        max-width: 200px;
    }

    .reg-btn {
        max-width: 220px;
    }
    .reg-main{
        margin-left: 0;
    }
}

/* Media query for even smaller screens */
@media screen and (max-width: 480px) {
    .reg-main-one {
        max-width: 250px;
    }

    .reg-body-cntnt {
        max-width: 180px;
    }

    .reg-btn {
        max-width: 200px;
    }
}
